<style>
    #onetrust-group-container {
        top: 100%;
        transform: translate(-0%, -100%);
        position: fixed;
        height: auto;
        display: none;
        background-color: #ffffff;
        box-shadow: 0 32px 68px rgba(0, 0, 0, .3);
        z-index: 2147483631;
        max-width: 100vw;
        min-width: 100vw;
        padding: 24px;
        transition-property: transform, opacity, top;
        width: 100vw;
    }

    #onetrust-policy {
        margin: 0 auto;
        width: 60%;
    }
    #onetrust-btn-container {
        margin-top: 4.25em;
    }

    #onetrust-banner-sdk #onetrust-policy {
        margin: 1.25em 0 .625em 2em;
        overflow: hidden;
    }

    #onetrust-group-container #onetrust-accept-btn-handler {
        border-color: #276D9B;
    }

    #onetrust-group-container #onetrust-reject-all-handler,
    #onetrust-group-container #onetrust-privacy-handler {
        background-color: #276D9B;
        border-color: #276D9B;
        color: #FFFFFF;
    }

</style>
<div id="onetrust-group-container">
    <div class="banner-logo"></div>
    <div id="onetrust-policy">
        <h2 id="onetrust-policy-title">Our site uses cookies</h2>
        <div id="onetrust-policy-text">
            Like most websites, we use cookies to make our site work the way you expect it to, improve your experience on our site, analyze site usage, and assist in our marketing efforts. By choosing "Accept All Cookies", you agree to the storing of all categories of cookies on your device.
        </div>
    </div>
    <div id="onetrust-btn-container">
        <button id="onetrust-reject-all-handler" class="btn">Reject ALL</button>
        <button id="onetrust-accept-btn-handler" class="btn">Accept ALL Cookies</button>
        <button id="onetrust-privacy-handler" class="btn">More info</button>
    </div>
</div>
<script>
    function createCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    function eraseCookie(name) {
        createCookie(name,"",-1);
    }
console.log(readCookie('OptanonConsent'));
    if(readCookie('OptanonConsent')=='true') {
        function loadScriptAsync(scriptSrc, callback) {
            if (typeof callback !== 'function') {
                throw new Error('Not a valid callback for async script load');
            }
            var script = document.createElement('script');
            script.onload = callback;
            script.src = scriptSrc;
            document.head.appendChild(script);
        }

        /* This is the part where you call the above defined function and "calls back"
        your code which gets executed after the script has loaded */
        //REPLACE WITH YOUR GA TAG!
        loadScriptAsync('https://www.googletagmanager.com/gtag/js?id=G-XXXXXXXXXX', function () {
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config',  '{{ site.Config.Services.GoogleAnalytics.ID }}', { 'anonymize_ip': true }); //REPLACE WITH YOUR GA TAG!
        })
    } else if (readCookie('OptanonConsent')!='false'){
        document.getElementById('onetrust-group-container').style.display = 'flex';
    }

    document.getElementById('onetrust-accept-btn-handler').addEventListener("click",function() {
        createCookie('OptanonConsent','true',31);
        document.getElementById('onetrust-group-container').style.display = 'none';
        location.reload();
    });

    document.getElementById('onetrust-reject-all-handler').addEventListener("click",function() {
        createCookie('OptanonConsent','false',31);
        document.getElementById('onetrust-group-container').style.display = 'none';
        location.reload();
    });

</script>